{% extends "base.html" %}
    {% load app_filters %}

{% block content %}
    <div>
  <form class="form-inline" action="{%  url 'all-orders' %}" method="post">
      {% csrf_token %}
    <input class="form-control mr-sm-2" type="number" min="1" max="12" placeholder="Miesiąc" aria-label="Search" name="month">
    <button class="btn btn-primary btn-outline-dark" type="submit">Szukaj</button>
  </form>
    </div>

        <h5 class="text-center">Zamówienia</h5>
    <table class="table table-striped">
    <thead>
    <tr><th scope="col">Data</th>
        <th scope="col">Użytkownik</th>
        <th scope="col">Lunch</th>
        <th scope="col">Ocena lunchu</th>
        <th scope="col">Przystawka</th>
        <th scope="col">Ocena przystawki</th>
        <th scope="col">Napój</th>
        <th scope="col">Cena</th>
        <th scope="col">Recenzja</th>
    </tr>
    </thead>

    {% if orders %}
    <tbody>
        {% for order in orders %}
        <tr><td>{{ order.date | date:"d-m-Y" }}</td>
            <td>{{ order.user.username }}</td>
            <td>{{ order.lunch.lunch_name }}</td>
            {% if order.menureview_set.count == 0 %}
                         <td> </td>
                    {% else %}
                        {% for lunch in order.menureview_set.all %}
                            <td>{{ lunch.lunch_stars }}</td>
                        {% endfor %}
                    {% endif %}
            <td>{{ order.appetizer.appetizer_name }}</td>

            {% if order.menureview_set.count == 0 %}
                     <td> </td>
                {% else %}
                    {% for appetizer in order.menureview_set.all %}
                        <td>{{ appetizer.appetizer_stars }}</td>
                    {% endfor %}
                {% endif %}

            <td>{{ order.beverage.beverage_name }}</td>
            <td>{{ order.final_price }}</td>

           {% if order.menureview_set.count == 0 %}
            <td></td>
           {% else %}
               {% for review in order.menureview_set.all %}
                        <td>{{ review.review }}</td>
                    {% endfor %}
            {% endif %}
       </tr>


    {% endfor %}
    </tbody>
    </table>

    {% elif order_search %}
{#    <h5 class="text-center">Zamówienia</h5>#}
{#    <table class="table table-striped">#}
{#    <thead>#}
{#    <tr><th scope="col">Data</th>#}
{#        <th scope="col">Użytkownik</th>#}
{#        <th scope="col">Lunch</th>#}
{#        <th scope="col">Ocena lunchu</th>#}
{#        <th scope="col">Przystawka</th>#}
{#        <th scope="col">Ocena przystawki</th>#}
{#        <th scope="col">Napój</th>#}
{#        <th scope="col">Cena</th>#}
{#        <th scope="col">Recenzja</th>#}
{#    </tr>#}
{#    </thead>#}
    <tbody>
        {% for order in order_search %}
        <tr><td>{{ order.date | date:"d-m-Y" }}</td>
            <td>{{ order.user.username }}</td>
            <td>{{ order.lunch.lunch_name }}</td>
            {% if order.menureview_set.count == 0 %}
                         <td> </td>
                    {% else %}
                        {% for lunch in order.menureview_set.all %}
                            <td>{{ lunch.lunch_stars }}</td>
                        {% endfor %}
                    {% endif %}
            <td>{{ order.appetizer.appetizer_name }}</td>

            {% if order.menureview_set.count == 0 %}
                     <td> </td>
                {% else %}
                    {% for appetizer in order.menureview_set.all %}
                        <td>{{ appetizer.appetizer_stars }}</td>
                    {% endfor %}
                {% endif %}

            <td>{{ order.beverage.beverage_name }}</td>
            <td>{{ order.final_price }}</td>

           {% if order.menureview_set.count == 0 %}
            <td></td>
           {% else %}
               {% for review in order.menureview_set.all %}
                        <td>{{ review.review }}</td>
                    {% endfor %}
            {% endif %}
       </tr>


    {% endfor %}
    </tbody>
    </table>

    {% endif %}



{% endblock %}