<!DOCTYPE html>

<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <title>Get lunch!</title>



</head>
<body>

<header class="navbar navbar-light">
    <a class="navbar-brand" href="{% url 'index' %}">Get lunch!</a>
    <div class="dropleft">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <a class="dropdown-item" href="{% url 'add-lunch' %}">Dodaj lunch</a>
    <a class="dropdown-item" href="{% url 'add-appetizer' %}">Dodaj przystawkę</a>
    <a class="dropdown-item" href="{% url 'add-beverage' %}">Dodaj napój</a>
    <a class="dropdown-item" href="{% url 'lunches' %}">Pokaż lunche</a>
    <a class="dropdown-item" href="{% url 'appetizers' %}">Pokaż przystawki</a>
    <a class="dropdown-item" href="{% url 'beverages' %}">Pokaż napoje</a>
    <a class="dropdown-item" href="{% url 'set-lunch-date' %}">Ułóż menu(lunch)</a>
    <a class="dropdown-item" href="{% url 'set-appetizer-date' %}">Ułóż menu(przystawka)</a>
    <a class="dropdown-item" href="{% url 'make-order' %}">Zamów</a>
    <a class="dropdown-item" href="{% url 'user-orders' %}">Moje zamówienia</a>
  </div>
</div>

</header>

        {% block content %}


        {% endblock %}
</body>
</html>