{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({

        weekends: true,
        locale: 'pl',
        editable: true,
        slotEventOverlap: false,
        navLinks: true,


        header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay',
          },

        events: [
            {% for dish in menu %}
            {
                title: "{{ dish.lunch_meat.lunch_name }}\n{{ dish.lunch_vegetarian.lunch_name }}\n{{ dish.lunch_vegan.lunch_name }}\n{{ dish.salad.appetizer_name }}\n{{ dish.soup.appetizer_name }}",
                 start: "{{ dish.date |date:"Y-m-d" }}",
                 end: "{{ dish.date|date:"Y-m-d" }}",
                 url: "{% url 'menu-details' dish.id %}"

            },

            {% endfor %}

        ],
    eventColor: '#F5F5F5',
    eventTextColor: '#696969'

    });

});
</script>

<div id='calendar'></div>

{% endblock %}
