{% extends "base.html" %}
    {% load app_filters %}

{% block content %}
    <div class="menu">
    {% if not menu %}
          <div>Przepraszamy, dzisiaj nieczynne :(</div>
   {% else %}
    <h4>Lunch na dziś: {{ today |date:'d-m-Y' }}</h4>

    <h5>Danie główne</h5>
        <div>Mięsne: {{ menu.lunch_meat.lunch_name }}</div>
        <div>Wegetariańskie: {{ menu.lunch_vegetarian.lunch_name }}</div>
        <div>Wegańskie: {{ menu.lunch_vegan.lunch_name }}</div>


     <h5>Przystawki</h5>
         <div>Sałatka: {{ menu.salad.appetizer_name }}</div>
         <div>Zupa: {{ menu.soup.appetizer_name }}</div>
        {% if user.is_authenticated %}
     <div>
        <a class="btn btn-primary btn-outline-dark" href="{% url 'make-order' %}">Złóż zamówienie</a>
    </div>
            {% endif %}
         {% endif %}

    </div>

{% endblock %}