{% extends "base.html" %}

{% block content %}
    <h3>Złóż zamówienie</h3>
    <form action="{%  url 'make-order' %}" method="post">
    {% csrf_token %}
    {% if all_points %}
    <div>Punkty do wykorzystania: {{ all_points }}</div>
    {% endif %}
        <h4 >Wybierz danie lunchowe</h4>
        <div class="radiolist">
            <div class="meat"><input type="radio" name="lunch" value="{{ lunch_meat.id }}">
                {{ lunch_meat.lunch_name }}</div>

            <div class="meat"><input type="radio" name="lunch" value="{{ lunch_vegan.id }}">
                {{ lunch_vegetarian.lunch_name }}</div>

            <div class="meat"><input type="radio" name="lunch" value="{{ lunch_vegetarian.id }}">
                {{ lunch_vegan.lunch_name }}</div>
        </div><br>


        <h4>Wybierz przystawkę</h4>
        <div class="radiolist">
            <div><input type="radio" name="appetizer" value="{{ soup.id }}">
                {{ soup.appetizer_name }}</div>
            <div><input type="radio" name="appetizer" value="{{ salad.id }}">
                {{ salad.appetizer_name }}</div>
        </div><br>


        <h4>Wybierz napój</h4>
        <div class="radiolist">
            {% for beverage in beverages %}
                <div><input type="radio" name="beverage" value="{{ beverage.id }}">
                {{ beverage.beverage_name }}</div>
            {% endfor %}

        </div>


    <div><input type="submit" value="Zamawiam"></div>

    </form>
    <img src="../../media/meat_unchecked.png">

{% endblock %}