{% extends "base.html" %}

{% block content %}
    <h3>Złóż zamówienie</h3>
    <form action="{%  url 'make-order' %}" method="post">
    {% csrf_token %}
    <div>Punkty do wykorzystania: {{ all_points }}</div>
        <div >Wybierz danie lunchowe</div>
        <div class="radiolist">
            <div class="meat"><input type="radio" name="lunch" value="{{ lunch_meat.id }}"></div>
            <div class="meat"><input type="radio" name="lunch" value="{{ lunch_vegan.id }}"></div>

            <div class="meat"><div><input type="radio" name="lunch" value="{{ lunch_vegetarian.id }}"></div>
                <div class="name">{{ lunch_meat.name }}</div>
                <div class="name">{{ lunch_vegetarian.name }}</div>

                <div class="name">{{ lunch_vegan.name }}</div>
        </div>
        <div>Wybierz przystawkę</div>
        <div class="checkbox-row">
            <input type="radio" name="appetizer" value="{{ appetizer_soup.id }}">{{ appetizer_soup.name }}
            <input type="radio" name="appetizer" value="{{ appetizer_salad.id }}">{{ appetizer_salad.name }}
        </div>
        <div>Wybierz napój</div>
        <div class="radiolist">
            {% for beverage in beverages %}
                <input type="radio" name="beverage" value="{{ beverage.id }}">{{ beverage.name }}
            {% endfor %}

        </div>


    <div><input type="submit" value="Zamawiam"></div>

    </form>
    <img src="../../media/meat_unchecked.png">

{% endblock %}