{% extends "base.html" %}
    {% load app_filters %}


{% block content %}
    <div class="text-center">
     <div class="mb-2 mt-4">
    <h5>Szczegóły menu</h5>
     <h5>Danie główne</h5>
        <div>Mięsne: {{ menu.lunch_meat.lunch_name }}</div>
        <div>Wegetariańskie: {{ menu.lunch_vegetarian.lunch_name }}</div>
        <div>Wegańskie: {{ menu.lunch_vegan.lunch_name }}</div>
        </div>

    <div class="mb-2 mt-4">
     <h5>Przystawki</h5>
         <div>Sałatka: {{ menu.salad.appetizer_name }}</div>
         <div>Zupa: {{ menu.soup.appetizer_name }}</div>
     <a class="btn btn-primary btn-outline-dark mt-2" href="{% url 'edit-menu' menu.id%}">Edytuj</a>
    </div>
    </div>


{% endblock %}