{% extends "base.html" %}
    {% load app_filters %}


{% block content %}
    <h5 class="text-center">Ranking</h5>
    <div class="container">
    <div class="row">
        <div class="col-6">
        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Lunch</th>
            <th scope="col">Średnia</th>
        </tr>
        </thead>
        <tbody>
            {% for lunch in lunches  %}
            <tr>
                <td>{{ lunch.lunch_name }}</td>
                <td>{{ lunch.stars | default:"--"}}</td>
            {% endfor %}
            </tr>
        </tbody>
        </table>
        </div>


    <div class="col-6">
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Przystawka</th>
        <th scope="col">Średnia</th>
    </tr>
    </thead>
    <tbody>
        {% for appetizer in appetizers %}
        <tr>
            <td>{{ appetizer.appetizer_name }}</td>
            <td>{{ appetizer.stars | default:"--"}}</td>
        {% endfor %}
        </tr>
    </tbody>
    </table>
    </div>
    </div>



{% endblock %}