{% extends "base.html" %}
    {% load app_filters %}
    {% load  %}

{% block content %}
    <h5 class="menu">Dania główne</h5>
    <div class="row justify-content-md-center">
<div class="col-4">

        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Rodzaj</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena</th>
        </tr>
        </thead>
        <tbody>
            {% for lunch in lunches  %}
            <tr>
                <td>{{ lunch.lunch_type | lunch_type }}</td>
                <td>{{ lunch.lunch_name}}</td>
                <td>{{ lunch.lunch_price}}</td>
            {% endfor %}
            </tr>
        </tbody>
        </table>
</div>
    </div>


{% endblock %}