{% extends "base.html" %}
    {% load app_filters %}


{% block content %}
    <h5 class="text-center">Zamówienia</h5>
    <table class="table table-striped">
    <thead>
    <tr><th scope="col">Data</th>
        <th scope="col">Użytkownik</th>
        <th scope="col">Lunch</th>
        <th scope="col">Przystawka</th>
        <th scope="col">Napój</th>
        <th scope="col">Cena</th>
        <th scope="col">Potwierdzenie</th>
    </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr><td>{{ order.date| date:"d-m-Y H:i" }}</td>
            <td>{{ order.user.username }}</td>
            <td>{{ order.lunch.lunch_name }}</td>
            <td>{{ order.appetizer.appetizer_name }}</td>
            <td>{{ order.beverage.beverage_name }}</td>
            <td>{{ order.final_price }}</td>
            {% if order.ready is False %}
                <td><a href="{% url 'confirm-order' order.id %}">Potwierdź</a></td>
            {% else %}
               <td>Gotowe</td>
            {% endif %}
       </tr>
        {% endfor %}
    </tbody>
    </table>

    <script>
       setTimeout(function(){
        location.reload();
        }, 5000);
    </script>

{% endblock %}