

/*.meat {*/
/*    background: transparent url(../../media/meat_unchecked.png);*/
/*    width:64px;*/
/*    height:64px;*/
/*    float: left;*/
/*    display: block;*/
/*    margin: 20px;*/
/*}*/
/*.meat input[type='radio'] {*/
/*    display: none;*/

/*}*/


.name {
    float: left;
    display: block;

}

#calendar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.app-name {
     font: 42px 'Cookie', Helvetica, sans-serif;
}

#main-header {
    /*background-color: #bbccdd;*/
    border: 2px transparent;
    /*border-radius: 50px;*/
    background-color: lavender;
}

.menu {
    /*margin: auto;*/
    /*margin-bottom: 20px;*/
    display: block;
    text-align: center;
}

.fc-title {
    padding: 0 1px;
    white-space: normal;
}

table {
    /*table-layout: fixed;*/
    font-max-size: 12px;
}

.my-button {

}