.name {
    float: left;
    display: block;

}

#calendar {
    margin-left: auto;
    margin-right: auto;
}

.app-name {
     font: 42px 'Cookie', Helvetica, sans-serif;
}

#main-header {
    /*background-color: #bbccdd;*/
    border: 2px transparent;
    /*border-radius: 50px;*/
    background-color: lavender;
}

.menu {
    /*margin: auto;*/
    /*margin-bottom: 20px;*/
    display: block;
    text-align: center;
}

.fc-title {
    padding: 0 1px;
    white-space: normal;
}

table {
    /*table-layout: fixed;*/
    font-max-size: 12px;
}

.my-button {

}

.logout {
    width: 20px;
    height: 20px;
}

.form label {
    margin:0 0 3px 0;
	padding:0;
	display:block;
    width: 100%;

}
.form {
    margin: 10px auto;
    max-width: 300px;
    padding: 20px 12px 10px 25px;
}

.form input, select {
    padding: 0;
	display: block;
    justify-content: center;
	margin: 10px 0 0 0;
    width: 95%;
}

.form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.fc-center h2 {
    font-size: 22px;
}

.fc-basic-view .fc-body .fc-row {
    height: 1em;
    font-size: 15px;
}